<!DOCTYPE html>
    <!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Meytip</title>
    <link rel="stylesheet" href="{{ asset('css/foundation.css') }}" />
    <script src="{{ asset('js/vendor/custom.modernizr.js') }}"></script>
</head>
<body>

<!-- HEADER -->
<nav class="top-bar">
    <ul class="title-area">
        <li class="name logo"><a href="#"><img src="/meytip/web/img/logo.png"></a></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li><a href="#">Profile</a></li>
            <li class="divider"></li>
            <li class="active"><a href="#">Events</a></li>
            <li class="divider"></li>
            <li><a href="#">People</a></li>
            <li class="divider"></li>

        </ul>
    </section>
</nav>
<!-- /HEADER -->
<!--USER PANEL -->


<div class="userpanel">
    <div class="row">
        <!-- NOME -->
        <div class="large-3 columns verticaldivider">
            <div class="large-5 small-6 columns">
                <img src="{{ asset('/back/meytip/web/img/nophoto.jpg') }}" width="70" height="70" alt="#">
            </div>
            <div class="large-7 small-6 collapsecolumns">
                <h4 class="white">{{ user.username }}</h4>
                <div><h8>Pending Bets</h8>
                    <div class="valuesmall" id="pending">
                        {{ user.pending | length }}
                    </div>
                </div>

                <div class="subvalue"><h8>Challenge</h8> <div class="valuesmall">0</div></div>
            </div>
        </div>
        <!-- /NOME -->
        <!-- SALVADANAIO -->
        <div class="large-2 columns verticaldivider">
            <div class="row">
                <div class="large-5 small-6 columns"><i><img src="/back/meytip/web/img/porco.png" alt=""></i></div>
                <div class="large-7 small-6 collapsecolumns">
                    <h4>Cash</h4>
                    <div class="value" id="cash">{{ user.cash }}</div>
                </div>
            </div>
        </div>
        <!-- /SALVADANAIO -->
        <!-- BEST CASE -->
        <div class="large-2 columns verticaldivider">
            <div class="row">
                <div class="large-5 small-6 columns"><i><img src="/back/meytip/web/img/win.png" alt=""></i></div>
                <div class="large-7 small-6 collapsecolumns">
                    <h4>Best Case</h4>
                    <div class="value">0</div>
                </div>
            </div>
        </div>
        <!-- /BEST CASE -->
        <!-- WORST CASE -->
        <div class="large-2 columns verticaldivider">
            <div class="row">
                <div class="large-5 small-6 columns"><i><img src="/back/meytip/web/img/lose.png" alt=""></i></div>
                <div class="large-7 small-6 collapsecolumns">
                    <h4>Worst Case</h4>
                    <div class="value">0</div>
                </div>
            </div>
        </div>
        <!-- /WORST CASE -->
        <!-- COIN -->
        <div class="large-3 columns">
            <div class="large-6 small-6 columns left">
                <h4>Daily Coins</h4>
                <a class="tiny button expand disabled" href="#">Take</a>
            </div>
            <div class="large-6 small-6 columns">
                <h4>Extra Coins</h4>
                <a class="tiny success button expand disabled" href="#">Take</a>
            </div>
        </div>
        <!--/COIN-->
    </div>
</div>
<!--/USER PANEL -->


<div id="myModal" class="reveal-modal small">
    <div class="large-12 columns">
        <h2>Bravo</h2>
    </div>
    <div class="large-12 columns"><h5>Your bet has been registered successfully</h5></div>
    <a class="close-reveal-modal">&#215;</a>
    <div class="large-5 right columns">
        <div class="large-6 columns"><a class="small success expand button" id="modalok" onClick="closeModal();">Ok</a></div>
        <div class="large-6 collapsecolumns"><a class="small success button" id="modalshare" onClick="postToFeed('has placed a bet on Meytip')">Share</a></div>
    </div>
</div>

<div class="row centrale">
    <!-- CAMPIONATI -->
    <div class="large-2 columns">
        <div class="section-container accordion" data-section="accordion">
            <section class="section active">
                <p class="title"><a href="#panel1">Italia</a></p>
                <div class="content" data-slug="panel1">
                    <ul class="side-nav">
                        <li><h11><b><a href="#">Innovaction Lab</a></b></h11></li>
                        <li><h11><a href="#">Serie A</a></h11></li>
                        <li><h11><a href="#">Serie B</a></h11> </li>
                        <li><h11><a href="#">Lega Pro</a></h11>  </li>
                    </ul>
                </div>
            </section>
            <section class="section">
                <p class="title"><a href="#panel2">Spagna</a></p>
                <div class="content" data-slug="panel2">
                    <ul class="side-nav">
                        <li><h11><a href="#">Ligue 1</a></h11></li>
                        <li><h11><a href="#">Ligue 2</a></h11> </li>
                    </ul>
                </div>
            </section>
            <section class="section">
                <p class="title"><a href="#panel3">Francia</a></p>
                <div class="content" data-slug="panel3">
                    <ul class="side-nav">
                        <li><h11><a href="#">Ligue 1</a></h11></li>
                        <li><h11><a href="#">Ligue 2</a></h11> </li>
                    </ul>
                </div>
            </section>
            <section class="section">
                <p class="title"><a href="#panel4">Inghilterra</a></p>
                <div class="content" data-slug="panel4">
                    <ul class="side-nav">
                        <li><h11><a href="#">Ligue 1</a></h11></li>
                        <li><h11><a href="#">Ligue 2</a></h11> </li>
                    </ul>
                </div>
            </section>
            <section class="section">
                <p class="title"><a href="#panel5">Germania</a></p>
                <div class="content" data-slug="panel5">
                    <ul class="side-nav">
                        <li><h11><a href="#">Ligue 1</a></h11></li>
                        <li><h11><a href="#">Ligue 2</a></h11> </li>
                    </ul>
                </div>
            </section>
            <section class="section">
                <p class="title"><a href="#panel6">Mondiali</a></p>
                <div class="content" data-slug="panel6">
                    <ul class="side-nav">
                        <li><h11><a href="#">Ligue 1</a></h11></li>
                        <li><h11><a href="#">Ligue 2</a></h11> </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <!-- /CAMPIONATI -->
    <!-- EVENTS-->
    <div class="large-6 columns">
        <table style="width:100%" id="betevent">
            <thead>
            <tr>
                <th><h6>INNOVACTION LAB FINAL EVENT</h6></th>
                <th><h6>Podium</h6></th>
                <th><h6>No Podium</h6></th>
                <th><h6> 1</h6></th>
                <th><h6>X</h6></th>
                <th><h6>2</h6></th>
            </tr>
            </thead>
            <tbody>

            {% for quote in quotes %}
            <tr event="{{ quote.team.id }}" eventname="{{ quote.team.name }}">

                <td> <span data-tooltip class="tip-top" title="<p class=blue>{{ quote.team.tagline }}</p><a href="#" >{{ quote.team.name }}</a></span></td>
                <td><a href="#" value="{{ quote.podio }}" bet="podio" betid="222" bettype="finale sì/no" class="tiny button event">{{ quote.podio }}</a></td>
                <td><a href="#" value="{{ quote.nopodio }}" bet="nopodio" betid="223" bettype="finale sì/no" class="tiny button event" class="tiny button">{{ quote.nopodio }}</a></td>
                <td><a href="#" class="tiny button secondary disabled">ND</a></td>
                <td><a href="#" class="tiny button secondary disabled">ND</a></td>
                <td><a href="#" class="tiny button secondary disabled">ND</a></td>
            </tr>
           {% endfor %}

            </tbody>
        </table>


    </div>
    <!-- /EVENTS-->

    <div class="large-4 columns">
        <ul class="pricing-table nomargine" id="curbet">
            <li class="title"><h9>Your bets</h9></li>
        </ul>
        <table class="betting">
            <tbody>
            <tr>
                <td><h13>Odds</h13></td>
                <td><h13 id="quotatotale">0</h13></td>
            </tr>
            <tr>
                <td><h13>Amount</h13></td>
                <td><form><input type="text" id="stake" placeholder="Inserire importo"></form></td>
            </tr>
            <tr>
                <td><h13>Winning</h13></td>
                <td><h13 id="potenziale">0</h13></td>
            </tr>
            </tbody>
        </table>


        <a class=" success button expand marginebottom" href="#" onclick="bet('{{ user.id }}');" id="play">BET</a>

        <ul class="pricing-table">
            <li class="title"><h9>TOP FRIENDS</h9></li>

            <li>
                <table style="width:100%; margin-bottom:0px">
                    <thead>
                    <tr>
                        <th><h6>#</h6></th>
                        <th><h6>USER</h6></th>
                        <th><h6>COINS</h6></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- <?php foreach($scores['data'] as $score){ ?>
                    <tr>
                        <td style="padding:5px"> <img src="https://graph.facebook.com/<?php echo  $score['user']['id']; ?>/picture?type=square" alt="not found"></td>
                        <td><a href="#"><?php echo $score['user']['name']; ?></a></td>
                        <td><?php echo $score['score']; ?></td>
                    </tr>

                    <?php }?> -->


                    </tbody>
                </table>
            </li>
        </ul>
    </div>


</div>
</div>

<script>
    document.write('<script src=' +
            ('__proto__' in {} ? '/back/meytip/web/js/vendor/zepto' : '/back/meytip/web/js/vendor/jquery') +
            '.js><\/script>')
</script>

<script src="{{ asset('js/foundation.min.js') }}"></script>
<script src="{{ asset('js/foundation/foundation.tooltips.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/meytip.js') }}"></script>
</body>


</html>
